In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = len(school_data_complete['school_name'].unique())
print(school_count)

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
print(student_count)

39170

In [5]:
# Calculate the total budget
## Why does it have to be unique? wouldn't the total be the most important element.
total_budget = sum(school_data_complete['budget'].unique())
print(total_budget)

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [8]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading 
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [10]:
# Calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
## ???Why did I have to [] for '% Overall Passing Score'???
district_summary = {
    'Total Schools':school_count,
    'Total Students':'{:,}'.format(student_count),
    'Total Budget':'${:,.2f}'.format(total_budget),
    'Average Math Score':average_math_score,
    'Average Reading Score':average_reading_score,
    '% Passing Math':passing_math_percentage,
    '% Passing Reading':passing_reading_percentage,
    '% Overall Passing Score':[overall_passing_rate],
}

district_summary_df = pd.DataFrame(district_summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Score
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [41]:
# Use the code provided to select the school type
school_types = school_data_complete.set_index(["school_name"])["type"]

#Group by school
by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

In [13]:
# Calculate the total student count
per_school_counts = by_school['School ID'].count()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School ID, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [15]:
# Calculate the average test scores
per_school_math = by_school['math_score'].mean()
per_school_reading = by_school['reading_score'].mean()

In [34]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete['math_score']>=70]
#school_passing_math_percentage = school_passing_math / per_school_capita * 100

In [35]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score']>=70]
#school_passing_reading_percentage = school_passing_reading / per_school_capita * 100

In [37]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
#overall_passing_percentage = passing_math_and_reading / per_school_capita * 100

In [29]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [40]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = {
    'School Type':school_types,
    'Total Students':per_school_counts,
    'Total School Budget':(per_school_budget),
    'Per Student Budget':(per_school_budget/per_school_capita),
    'Average Math Score':per_school_math,
    'Average Reading Score':per_school_reading,
    '% Passing Math':per_school_passing_math,
    '% Passing Reading':per_school_passing_reading,
    '% Overall Passing Score':[overall_passing_rate],
}

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
## Dataframe not right.
per_school_summary

{'School Type': school_name
 Huang High School     District
 Huang High School     District
 Huang High School     District
 Huang High School     District
 Huang High School     District
                         ...
 Thomas High School     Charter
 Thomas High School     Charter
 Thomas High School     Charter
 Thomas High School     Charter
 Thomas High School     Charter
 Name: type, Length: 39170, dtype: object,
 'Total Students': school_name
 Bailey High School       4976
 Cabrera High School      1858
 Figueroa High School     2949
 Ford High School         2739
 Griffin High School      1468
 Hernandez High School    4635
 Holden High School        427
 Huang High School        2917
 Johnson High School      4761
 Pena High School          962
 Rodriguez High School    3999
 Shelton High School      1761
 Thomas High School       1635
 Wilson High School       2283
 Wright High School       1800
 Name: School ID, dtype: int64,
 'Total School Budget': school_name
 Bailey High School       $3,124,928.00
 Cabrera High School      $1,081,356.00
 Figueroa High School     $1,884,411.00
 Ford High School         $1,763,916.00
 Griffin High School        $917,500.00
 Hernandez High School    $3,022,020.00
 Holden High School         $248,087.00
 Huang High School        $1,910,635.00
 Johnson High School      $3,094,650.00
 Pena High School           $585,858.00
 Rodriguez High School    $2,547,363.00
 Shelton High School      $1,056,600.00
 Thomas High School       $1,043,130.00
 Wilson High School       $1,319,574.00
 Wright High School       $1,049,400.00
 Name: budget, dtype: object,
 'Per Student Budget': school_name
 Bailey High School       $4,976.00
 Cabrera High School      $1,858.00
 Figueroa High School     $2,949.00
 Ford High School         $2,739.00
 Griffin High School      $1,468.00
 Hernandez High School    $4,635.00
 Holden High School         $427.00
 Huang High School        $2,917.00
 Johnson High School      $4,761.00
 Pena High School           $962.00
 Rodriguez High School    $3,999.00
 Shelton High School      $1,761.00
 Thomas High School       $1,635.00
 Wilson High School       $2,283.00
 Wright High School       $1,800.00
 dtype: object,
 'Average Math Score': school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 'Average Reading Score': school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 '% Passing Math': school_name
 Bailey High School       66.680064
 Cabrera High School      94.133477
 Figueroa High School     65.988471
 Ford High School         68.309602
 Griffin High School      93.392371
 Hernandez High School    66.752967
 Holden High School       92.505855
 Huang High School        65.683922
 Johnson High School      66.057551
 Pena High School         94.594595
 Rodriguez High School    66.366592
 Shelton High School      93.867121
 Thomas High School       93.272171
 Wilson High School       93.867718
 Wright High School       93.333333
 dtype: float64,
 '% Passing Reading': school_name
 Bailey High School       81.933280
 Cabrera High School      97.039828
 Figueroa High School     80.739234
 Ford High School         79.299014
 Griffin High School      97.138965
 Hernandez High School    80.862999
 Holden High School       96.252927
 Huang High School        81.316421
 Johnson High School      81.222432
 Pena High School         95.945946
 Rodriguez High School    80.220055
 Shelton High School      95.854628
 Thomas High School       97.308869
 Wilson High School       96.539641
 Wright High School       96.611111
 dtype: float64,
 '% Overall Passing Score': [school_name
  Bailey High School       54.642283
  Cabrera High School      91.334769
  Figueroa High School     53.204476
  Ford High School         54.289887
  Griffin High School      90.599455
  Hernandez High School    53.527508
  Holden High School       89.227166
  Huang High School        53.513884
  Johnson High School      53.539172
  Pena High School         90.540541
  Rodriguez High School    52.988247
  Shelton High School      89.892107
  Thomas High School       90.948012
  Wilson High School       90.582567
  Wright High School       90.333333
  dtype: float64]}

## Highest-Performing Schools (by % Overall Passing)

In [43]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highest_performing_schools = per_school_summary.sort_values(by='% Overall Passing Rate',ascending=False)
highest_performing_schools.head()

AttributeError: 'dict' object has no attribute 'sort_values'

## Math Scores by Grade

## Reading Score by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type